name: Johan Henkens
description: Cool Dude in the Bay Area
baseurl: ''
permalink: pretty
markdown: rdiscount
footer-links:
  email: johe.githubio@henkens.com
  facebook: jhenkens 
  github: jhenkens
  linkedin: jhenkens
  stackoverflow: users/3495046/johan-henkens
prose:
  rooturl: '_posts'
  siteurl: 'http://johanhenkens.com'
  relativeLinks: 'http://prose.github.io/starter/links.jsonp'
  media: 'media/images'
  metadata:
    _posts:
      - name: "category"
        field:
          element: "hidden"
          value: "blog"
      - name: "layout"
        field:
          element: "hidden"
          value: "blog"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "splash"
        field:
          element: "text"
          label: "Splash image"
          value: ""
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Apples"
              value: "apples"
            - name: "Bananas"
              value: "bananas"
            - name: "Pears"
              value: "pears"
            - name: "Mangos"
              value: "mangos"
    _posts/cooking:
      - name: "category"
        field:
          element: "hidden"
          value: "cooking"
      - name: "layout"
        field:
          element: "hidden"
          value: "cooking"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "splash"
        field:
          element: "text"
          label: "Splash image"
          value: ""
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Apples"
              value: "apples"
            - name: "Bananas"
              value: "bananas"
            - name: "Pears"
              value: "pears"
            - name: "Mangos"
              value: "mangos"
    _posts/static:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "permalink"
        field:
          element: "text"
          label: "Permalink"
          value: ""

disqus: johanhenkens
google_analytics:
url: http://johanhenkens.com
#permalink: /:year-:month-:day/:title/
#
exclude:
    - Gemfile
    - Gemfile.lock
    - LICENSE
    - README.md
