---
layout: default
section: cooking
---
<div class='container'>
    <div class='row'>
        <div class='default-column-widths listing'>
            {% for item in site.categories.cooking limit:1000 %}
                {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
                {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

                {% if date != ndate %}
                    <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
                {% endif %}
                <div class='item'>
                    <a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
                    <span class='date'>{{item.date | date:"%b %d"}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
