---
---

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "svg-icons";

//Site Specific Stuff
/* Global Style
------------------------------------------------------- */
body, input, textarea {
  color: #516066;
  font: 15px/1.67 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.default-column-widths {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-md-column(8);
  @include make-md-column-offset(2);
  &.half-column {
    @include make-xs-column(12);
    @include make-sm-column(5);
    @include make-sm-column-offset(1);
    @include make-md-column(4);
    @include make-md-column-offset(2);
  }
  &.no-offset {
    @include make-sm-column-offset(0);
    @include make-md-column-offset(0);
  }
}

.heading,
.header {
  .title {
    font-size: 15px;
    line-height: 1.67;
    font-weight: bold;
    margin: 0;
    a {
      text-decoration: none;
      font-weight: bold;
      color: #516066;
    }
  }
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin-bottom: 50px;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $gray-lighter;
  footer {
    padding: 20px 0;
    text-align: center;
  }
}

.menu {
  text-align: right;
  a {
    font-size: 15px;
    margin: 0 0 0 10px;
  }
}

.listing {
  .month {
    color: #868f93;
    margin-top: 20px;
  }
  .item {
    display: block;
    padding: 2px 0;
    border-bottom: 1px solid #d4d7d9;
    a {
      display: block;
    }
  }
  img {
    width: 100%;
    padding: 5%;
  }
  .comments {
    margin-top: 35px;
  }
}

.splash {
  background: $gray-lighter;
  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 425px;
  }
}

.date {
  color: #d4d7d9;
  font-weight: normal;
}

a {
  color: #2099aa;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color 100ms;
  -moz-transition: color 100ms;
  -o-transition: color 100ms;
  transition: color 100ms;
  &:hover {
    color: #197987;
  }
  &.active {
    color: #516066;
  }
}

.rss {
  color: #d4d7d9;
}

.rss:hover {
  color: #516066;
}

//Utility
.show {
  display: block;
}

.hide {
  display: none;
}

.deemphasize {
  color: #888;
}

.center {
  text-align: center;
}

.pad40h {
  padding-left: 40px;
  padding-right: 40px;
}

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix {
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.centered {
  text-align: center;
}
