---
layout: default
section: cooking
---

{% if page.splash %}
  <div class='splash'>
    <img src='{{page.splash}}' alt='' />
  </div>
{% endif %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-8 col-sm-offset-2 col-xs-12 listing'>
            <div class='heading'>
                <h1>{{page.title}}</h1><span class='date'>{{page.date | date:"%b %d"}}</span>
            </div>

            <div class='prose'>
                {{content}}
            </div>
            {% include disqus.html %}
        </div>
    </div>
</div>

