---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Johan Henkens {% if page.url != '/index.html' and page.url != '/' %} | {{page.title}}{% endif %}</title>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link rel='alternate' type='application/rss+xml' title='RSS' href='johanhenkens.com/blog.rss' />
        <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
    </head>
    <body>
        <div class='container header'>
            <div class='row'>
                <div class='default-column-widths half-column'>
                    <h1 class='title'><a href='{{site.baseurl}}/'>Johan's Space</a></h1>
                </div>
                <div class='default-column-widths half-column menu no-offset'>
                    {% comment %}
                    Commented out for now, blog has nothing of value
                    <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/blog'>Blog</a>
                    {% endcomment %}
                    <a class='{% if page.section == "cooking" %}active{% endif %}' href='{{site.baseurl}}/cooking'>Cooking</a>
                    <a class='{% if page.section == "recipes" %}active{% endif %}' href='{{site.baseurl}}/recipes'>Recipes</a>
                    <a href='{{site.baseurl}}/resume.pdf'>Resume</a>
                </div>
            </div>
        </div>
        <div class='content'>
            {{content}}
        </div>
        <div class="wrapper-footer">
            <footer class="footer">
            {% include svg-icons.html %}
            </footer>
        </div>
        <script src='{{site.baseurl}}/site.js'></script>
    </body>
</html
